.dsEMXs {
  border: 1px solid #00f4fd;
  background: #0c012c;
}

.modal-body {
  width: 500px;
  padding: 0px;
}

.btn-checkout {
  background-color: #00f4fd;
  color: black;
  border-radius: 50px;
}

.btn-checkout:hover {
  background-color: #fff!important;
}

.input-price {
  margin-top: 10px;
  border: 1px solid #08617e;
  background-color: transparent;
  padding: 5px;
  width: 100%;
}

@media screen and (min-width: 450px) {
  .modal-body {
    padding: 24px;
    min-width: 450px;
  }
}