.glow {
  -webkit-box-reflect: below 1px linear-gradient(transparent 20%, #0008);
  outline: none;
  animation: glow 1s ease-in-out infinite alternate;
}

.img-shadow {
  -webkit-filter: drop-shadow(-0.3rem 0.3rem 2px #222);
  filter: drop-shadow(-0.3rem 0.3rem 2px #222);
}

.reflect {
  -webkit-box-reflect: below 1px linear-gradient(transparent 95%, #0008);
}

@keyframes glow {
  from {
    box-shadow: none;
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 15px #03bcf4, 0 0 20px #03bcf4, 0 0 25px #03bcf4, 0 0 30px #03bcf4;
  }
  to {
    color: #fff;
    text-shadow: 0 0 5px #03bcf4ef, 0 0 7px #03bcf4ef, 0 0 10px #03bcf4ef, 0 0 12px #03bcf4ef, 0 0 15px #03bcf4ef;
  }
}

.glow2 {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    box-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}
